Las columnas están todas capitalized y las columnas que son siglas están en mayúsculas. 
Me gusta como están así que no voy a realizar ninguna modificación.

A continuación procedo a poner un listado con las características de cada una de las columnas para cada csv:

DF ACTIVITY:

Loyalty Number
- 0 isna
- duplicated sum 388887
- Unique [100018, 100102, 100140, ..., 999731, 999788, 999891]
- Negatives: no
(df_activity["Loyalty Number"] < 0).sum() 
0
              
Year
- 0 isna
- Unique: solo contamos con dos valores: 2017 and 2018. Llama la atención porque en otras columnas sí que hay registros anteriores (ej: 2013). Aunque haya registros anteriores, la actividad de vuelo se basa principalmente en dos años (2017 y 2018)
- Duplicates: no relevante, Los años se pueden repetir.

Month
- 0 isna
- Unique: [ 1, 9, 2, 3, 11, 4, 5, 7, 6, 8, 10, 12] <- this is ok.
- Duplicates: no relevante. Los meses se pueden repetir.
        
Flights Booked
- 0 isna
- Unique: [ 3, 10,  6,  0,  8, 11,  9,  4,  7,  5,  2,  1, 12, 13, 14, 16, 15,
       17, 18, 19, 20, 21]
- Duplicates: 405602. No relevante. Mucha gente pudo haber reservado las mismas veces.
        
Flights with Companions
- 0 isna
- Unique: [ 0, 4, 7, 1, 6, 3, 5, 2, 10, 8, 9, 11] <- this seems ok.
- Duplicates: 405612. No relevante . Mucha gente pudo haber volado la misma cantidad de veces con compañía
        
Total Flights
- 0 isna
- Unique: [ 3, 14,  6,  0, 15, 11, 12, 10,  8,  9,  7,  5, 16,  2,  1, 17, 13,
       22,  4, 19, 18, 21, 26, 20, 23, 25, 27, 24, 28, 30, 29, 31, 32]
- Unique contiene 0 . Hay gente que jamás ha volado.
- Duplicated: 405591. No es relevante. Mucha gente pudo haber volado las mismas veces.

Distance
- 0 isna
- Unique: Puede ser 0. Hay gente en este listado que jamás ha volado.
- Duplicated: 400878. No es relevante. Mucha gente pudo haber volado el mismo kilometraje.
        
Points Accumulated
- 0 isna
- Unique: muchos uniques
- Duplicated: muchos duplicados <- todo bien.
       lo pasaría a int. Aunque sea en base a distancia volada no debería de haber medios puntos, o tienes 3 puntos o tienes 4 por ejemplo pero no 3.5. Al hacer la conversión redondea para abajo.
       Hay una cosa llamada math ceil para poder redondear para arriba, pero como no la vimos no voy a hacerlo. De todos modos lo redondearía igual y haría un aviso en la web/redes sociales de que los puntos acumulados se redondean y que puede haber una ligera variación debido a ello

Points Redeemed
- 0 isna
- Unique: muchos uniques. Ranged from 0 to 875 aprox. <- correcto
- Duplicated: muchos duplicados <- todo correcto

Dollar Cost Points Redeemed
- 0 isna
- Unique: [ 0, 28, 30, 25, 36, 32, 24, 26, 37, 33, 35, 27, 31, 54, 42, 29, 38,
       34, 39, 55, 41, 49, 40, 48, 45, 53, 58, 44, 43, 46, 52, 47, 63, 57,
       62, 51, 50, 64, 56, 61, 65, 60, 68, 59, 66, 69, 67, 71, 70]
- Duplicated: muchos duplicados. mucha gente puede tener los mismos puntos.
    
  
Data columns (total 10 columns):

n   Column                       Non-Null Count   Dtype  
 
 0   Loyalty Number               405624 non-null  int64  
 1   Year                         405624 non-null  int64  
 2   Month                        405624 non-null  int64  
 3   Flights Booked               405624 non-null  int64  
 4   Flights with Companions      405624 non-null  int64  
 5   Total Flights                405624 non-null  int64  
 6   Distance                     405624 non-null  int64  
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64  
 9   Dollar Cost Points Redeemed  405624 non-null  int64  
dtypes: float64(1), int64(9)

DF LOYALTY:

Loyalty Number
- 0 isna
- duplicated sum 0 
- Unique: [480934, 549612, 429460, ..., 776187, 906428, 652627]
- Negatives: no 
df_loyalty["Loyalty Number"].isna().sum()
0
        
        
Country
- 0 isna
- Duplicated: muchos duplicados. mucha gente puede ser del mismo país. Esto tiene sentido. 
- Unique: TODOS son de Canada. Es el único valor que hay. Esta columna no se debería de tener en consideración para visualizaciones, sin embargo no se deberia de eliminar dado que es un buen registro de cara al futuro en caso de que algún pasajero en el futuro no sea de Canadá. Tenemos en cuenta que esto es así y que los vuelos no están limitados por nacionalidad. En caso de ser lo segundo, y únicamente con consentimiento de cliente, se procedería a la eliminación de la columna.
##dejo el código copiado en caso de ser necesario en el futuro: df_activity.drop('Country', axis=1, inplace=True)

Province  
- 0 isna
- Duplicados: muchos duplicados. Mucha gente puede ser de la misma provincia. 
- Unique: ['Ontario', 'Alberta', 'British Columbia', 'Quebec', 'Yukon',
       'New Brunswick', 'Manitoba', 'Nova Scotia', 'Saskatchewan',
       'Newfoundland', 'Prince Edward Island']    <- validado que los territorios están en Canadá

City
- 0 isna
- Duplicates: muchos duplicados. Esperable. Misma lógica que con provincia.
- Unique: ['Toronto', 'Edmonton', 'Vancouver', 'Hull', 'Whitehorse',
       'Trenton', 'Montreal', 'Dawson Creek', 'Quebec City',
       'Fredericton', 'Ottawa', 'Tremblant', 'Calgary', 'Thunder Bay',
       'Whistler', 'Peace River', 'Winnipeg', 'Sudbury', 'West Vancouver',
       'Halifax', 'London', 'Regina', 'Kelowna', "St. John's", 'Victoria',
       'Kingston', 'Banff', 'Moncton', 'Charlottetown']  <- parece que todo bien. Ciudades correspondientes a territorios también están incluídas.

Postal Code
- 0 isna
- Duplicates: Muchos duplicados. A esperar.
- Unique: ['M2Z 4K1', 'T3G 6Y6', 'V6E 3D9', 'P1W 1K4', 'J8Y 3Z5', 'Y2K 6R0',
       'P5S 6R4', 'K8V 4B2', 'H2Y 2W2', 'M8Y 4K8', 'U5I 4F1', 'G1B 3L5',
       'H4G 3T4', 'M2M 7K8', 'M2M 6J7', 'E3B 2H2', 'M1R 4K3', 'T9G 1W3',
       'H2Y 4R4', 'V5R 1W3', 'P1L 8X8', 'K1F 2R2', 'H5Y 2S9', 'V1E 4R6',
       'H2T 2J6', 'T3E 2V9', 'H2T 9K8', 'K8T 5M5', 'V6T 1Y8', 'P2T 6G3',
       'T9O 2W2', 'V6E 3Z3', 'R6Y 4T5', 'M5V 1G5', 'V6V 8Z3', 'B3J 9S2',
       'M5B 3E4', 'R2C 0M5', 'S6J 3G0', 'M2P 4F6', 'P1J 8T7', 'V09 2E9',
       'A1C 6H9', 'V10 6T5', 'B3C 2M8', 'M9K 2P4', 'T4V 1D4', 'R3R 3T4',
       'S1J 3C5', 'E1A 2A7', 'K1G 4Z0', 'H3T 8L4', 'C1A 6E8', 'H3J 5I6',
       'M3R 4K8']
        Hay varios incorrectos: V10 6T5 , V09 2E9 no siguen el patrón de letra- numero - letra
        sacado por vistazo de formato todos parecen similares en la forma salvo esos dos. 
        
        He revisado online por si había más info o algún código no funcional. durante el ejercicio se tratará el siguiente listado como inválido:
        'Y2K 6R0' – Invalid FSA (Y2K). The only valid FSAs in the Yukon start with Y1A.
        'U5I 4F1' – Invalid characters: U and I are not used in postal codes.
        'K1F 2R2' – While this format is valid, K1F is currently not an assigned FSA.
        'H5Y 2S9' – H5Y is not assigned.
        'H2T 9K8' – May not exist; H2T exists, but not all LDU ranges are used.
        'V09 2E9' – Invalid FSA (V09); FSAs starting with 0 are not used.
        'V10 6T5' – V10 is not a valid FSA (as of now).
                    
Gender
- O isna
- Duplicates: obviamente va a haber duplicados en esta columna.
- Unique: ['Female', 'Male'] <- todo correcto

Education
- 0 isna
- Duplicates: Muchos duplicados. A esperar.
- Unique: ['Bachelor', 'College', 'Master', 'High School or Below', 'Doctor']  <- todo correcto

Salary
- 4238 isna  - un poco más de un 25% de nulos. Es probable que algunos no hayan querido decir su salario. Se tendrá en cuenta en visualizaciones.
- Duplicates: Muchos duplicados. A esperar.
- Unique: [ 83236., nan, 103495., ..., 76178., 91970., -57297.]  <- Salarios negativos. Se realizará el cambio a positivo dado que el formato de todos ellos parece similar
- 20 negatives
(df_loyalty['Salary'] < 0).sum() 


Marital Status
- 0 isna
- Duplicates: muchos. esperado.
- Unique: ['Married', 'Divorced', 'Single']  <- todo correcto.

Loyalty Card
- 0 isna
- Duplicates: Muchos duplicados. Esto es normal dado que mucha gente puede tener el mismo tipo de tarjeta.
- Unique: ['Star', 'Aurora', 'Nova'] <- todo correcto.

CLV   (Valor total estimado que el cliente aporta a la empresa durante toda la relación que mantiene con ella.)
- 0 isna
- Duplicates: 8753. podemos tener gente con el mismo valor.
- Unique: [ 3839.14, 3839.61, 3839.75, ..., 44771.3 , 50568.26, 61134.68]   <- max value 83325.38 min value 1898.01
        
Enrollment Type
- 0 isna
- Duplicates: 16735 . Since there are only two options it's normal to see duplicates.
- Unique: ['Standard', '2018 Promotion']  <- no me lo cargaría porque si se hace otra campaña en otro año en el futuro se puede comparar quienes entraron por la promo. Si quitamos esto y solo dejamos year sabemos en qué año entramos pero no si fue resultado de una campaña publicitaria.

Enrollment Year
-  0 isna
- Duplicates: 16730. los años se pueden repetir. Irrelevante.
- Unique: [2016, 2014, 2013, 2012, 2015, 2018, 2017]  <- todo correcto
    
Enrollment Month
- 0 isna
- Duplicates: 16725
- Unique: [ 2, 3, 7, 10, 5, 6, 12, 1, 11, 8, 4, 9]  <- todo correcto


Cancellation Year
- 14670 isna  <- puede haber nulos si hay gente que no ha cancelado
- Duplicates: 16730. No relevante. Hay muchos duplicados porque la gente canceló en años similares.
- Unique: [ nan, 2018., 2015., 2017., 2014., 2016., 2013.]  <-  un año no debería de ser float. se cambiará a integer.
        
Cancellation Month
- 14670 isna
- Duplicates: 16724. No relevante. Lo mismo que para año de cancelación.
- Unique: [nan, 1., 12., 4., 2., 7., 11., 5., 6., 10., 8., 9., 3.]  <- el mes tampoco deberia de ser float. cambio a integer. 


Data columns (total 16 columns):

 n   Column              Non-Null Count  Dtype  
  
 0   Loyalty Number      16737 non-null  int64  
 1   Country             16737 non-null  object 
 2   Province            16737 non-null  object 
 3   City                16737 non-null  object 
 4   Postal Code         16737 non-null  object 
 5   Gender              16737 non-null  object 
 6   Education           16737 non-null  object 
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object 
 9   Loyalty Card        16737 non-null  object 
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object 
 12  Enrollment Year     16737 non-null  int64  
 13  Enrollment Month    16737 non-null  int64  
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)

EXPLICACIONES Y POSIBLES CAMBIOS:

A destacar:
-Es normal que hay diferencia duplicados en loyalty number. En loyalty es como base de datos de clientes así que no puede haber duplicados. Y en activity puede aparecer un cliente 27 veces si voló mucho.
No se borran duplicados por esta razón. Se entiende que está correcta.

ACTIVITY:
-Me planteé combinar year y month en una columna que fuese date, pero decidí que en realidad para cualquier visualización sería más fácil para filtrar por separado, añadir el mes lo dificultaría. 
-Distance no se le añade kms al final porque sino lo pasa a string y no podemos hacer cálculos interesantes con eso.
-hay gente que nunca voló.
-points accumulated es float,y yo creo que debería de ser INT. No creo que haya decimales en los puntos acumulados
-Dollar Cost Points Redeemed: No ponemos simbolo de dólar por si queremos hacer algo con esos números, añadirlo lo convertiría a string y dificultaría las cosas, así que es mejor mantenerlo como está que desde mi punto de vista está bien ya que la propia columna te indica que está en dólares. Está en int. Pensé en pasarlo a float por si acaso en el futuro hay decimales.

LOYALTY:
-cancellation year y cancellation month están como float. Sería int. No tiene sentido que esté como float. 
-todos los clientes son de Canadá. No hacemos drop de esta columna. La dejamos porque puede ser que haya clientes en un futuro que no sean de Canadá a no ser que la aerolínea esté restricted a nacionales. Dado que no es algo que el cliente haya confirmado la dejamos. Igual en el futuro expanden sedes y nos interesa saber de dónde son.
-salarios en negativo. Para corregir. También tiene nulos pero tal vez sea esperado porque no todo el mundo está dispuesto a compartir lo que gana. 
-postal code. He decidido cambiar a nulos los códigos inválidos para evitar errores en el futuro.
-CLV es float. No cambiaría eso creo porque los decimales tal vez afecten a un posible ranking.
-Enrollment year es int , dejarlo asi porque como int es más fácil de gestionar
-Enrollment month es int , dejarlo asi porque es más fácil de gestionar si está en numero y no en texto
-Cancellation year - pasarlo a Int. Hay NaN entonces no se puede cambiar directamente. Hay que utilizar try except. Cambio realizado.
-Cancellation month - pasarlo a Int. También hay nan así que sería el mismo escenario. Se reutiliza la función para convertir a Int


--------------------------

Análisis más en detalle de la cantidad de nulos, en porcentaje:


ACTIVITY no tiene nulls : round(df_activity.isna().sum()/df_activity.shape[0]*100,2)
- Loyalty Number                 0.0
- Year                           0.0
- Month                          0.0
- Flights Booked                 0.0
- Flights with Companions        0.0
- Total Flights                  0.0
- Distance                       0.0
- Points Accumulated             0.0
- Points Redeemed                0.0
- Dollar Cost Points Redeemed    0.0
dtype: float64

LOYALTY: round(df_loyalty.isna().sum()/df_loyalty.shape[0]*100,2)
- Loyalty Number         0.00
- Country                0.00
- Province               0.00
- City                   0.00
- Postal Code            0.00
- Gender                 0.00
- Education              0.00
- Salary                25.32
- Marital Status         0.00
- Loyalty Card           0.00
- CLV                    0.00
- Enrollment Type        0.00
- Enrollment Year        0.00
- Enrollment Month       0.00
- Cancellation Year     87.65
- Cancellation Month    87.65
dtype: float64

-----------------------
NOTA: ACTIVITY NO TIENE OBJECTS AS A TYPE, ENTONCES NO SE PUEDEN INCLUÍR PARA EL DESCRIBE DE OBJECTS OBVIAMENTE.
-----------------------

#Ejemplos de comandos usados para la exploración. No he añadido todo para no embarrar el ipynb, pero adjunto aquí una muestra :

#Los generales no, pero los que son por columna se han utilizado para cada una de las columnas para ir haciendo la comprobación.

df_loyalty.info()

round(df_loyalty.isna().sum()/df_loyalty.shape[0]*100,2)

round(df_activity.isna().sum()/df_activity.shape[0]*100,2)

df_loyalty.describe(include="O")

df_activity.describe().T

df_activity["Points Accumulated"].max()

df_activity.sample(5)

df_loyalty["Loyalty Number"].unique()

df_loyalty["Loyalty Number"].isna().sum()

(df_loyalty["Loyalty Number"] < 0).sum()

df_loyalty[df_loyalty["Salary"] < 0]

df_loyalty[df_loyalty["Enrollment Type"] = "2018 Promotion"]